.footer {

    text-align: center;
    padding: 20px 0;

}

.icons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 10px;

}

.iconX {
    border: 1px solid black;
    border-radius: 5px;
    border-bottom-width: 6px;
    border-right-width: 5px;
    padding: 3px;
    background-color: #FBBF31;
    cursor: pointer;
}

.iconX:hover {
    background-color: #D9D9D9;
}

.iconDiscord {
    border: 1px solid black;
    border-radius: 5px;
    border-bottom-width: 6px;
    border-right-width: 5px;
    padding: 3px;
    background-color: #FBBF31;
    cursor: pointer;
}

.iconDiscord:hover {
    background-color: #D9D9D9;
}

.iconExchangeArt {
    border: 1px solid black;
    border-radius: 5px;
    border-bottom-width: 6px;
    border-right-width: 5px;
    padding: 3px;
    background-color: #FBBF31;
    cursor: pointer;
}

.iconExchangeArt:hover {
    background-color: #D9D9D9;
}

.iconAtlas {
    border: 1px solid black;
    border-radius: 5px;
    border-bottom-width: 6px;
    border-right-width: 5px;
    padding: 3px;
    background-color: #FBBF31;
    cursor: pointer;
}

.iconAtlas:hover {
    background-color: #D9D9D9;
}

.links {
    font-family: 'MonumentExtended', sans-serif;
    margin-bottom: 10px;
}

.links a {
    text-decoration: none;
    color: black;
    margin: 0 5px;
}

.links a:hover {
    color: #D9D9D9;
}

.copyright {
    font-family: 'MonumentExtended', sans-serif;
    font-size: 14px;
}

.vector9 {
    margin-top: 12px;
    position: absolute;
    z-index: -1;
    height: 0.8%;
}

.logo {
    margin-left: 50%;
    margin-bottom: 1%;
}

@media (min-width: 600px) and (max-width: 1024px) {
    .vector9 {
        margin-top: 12px;
        position: absolute;
        z-index: -1;
        height: 0.5%;
    }
}