@font-face {
    font-family: 'MonumentExtended';
    src: url(/fonts/MonumentExtended-Regular.otf) format('opentype');
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0px 20px;
    padding-bottom: 20px;
    font-family: 'MonumentExtended', sans-serif;
    font-weight: 800;
    border-bottom-width: 2px;
    border-color: black;
    border-style: solid;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navLinks {
    display: flex;
    list-style: none;
    margin: 0;
    margin-left: 365px;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.navLinks::before {
    content: '';
    height: 35px;
    width: 3px;
    background-color: black;
    position: absolute;
    left: 0px;
    top: 40%;
    transform: translateY(-40%);
}

.navItem {
    margin: 0 15px;
    font-weight: bold;
    position: relative;
    cursor: pointer;

}

.navItem::after {
    content: '';
    height: 34px;
    width: 3px;
    background-color: black;
    position: absolute;
    right: -16px;
    top: 50%;
    transform: translateY(-50%);
}



.navItem::before {
    content: '';
    height: 34px;
    width: 3px;
    background-color: black;
    position: absolute;
    right: -16px;
    top: 50%;
    transform: translateY(-50%);
}

.navItem::after {
    content: '';
    height: 34px;
    width: 3px;
    background-color: black;
    position: absolute;
    right: -16px;
    top: 50%;
    transform: translateY(-50%);
}

.navItem:last-child::after {
    display: none;
}


.actions {
    display: flex;
}

.button {
    background-color: white;
    color: black;
    border: 3px solid black;
    border-bottom-width: 6px;
    border-right-width: 5px;
    padding: 5px 5px;
    margin-left: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.button:hover {
    background-color: #D9D9D9;
    color: black;
}